<!--@+leo-ver=5-thin-->
<!--@+node:celine.20110401213457.6114: * @file base.html-->
<!--@@language xml-->
<!--@@tabwidth -4-->
<!--@+others-->
<!--@+node:celine.20110401213457.6115: ** base declarations-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--@+node:celine.20110401213457.6116: ** html-->
<html>
<!--@+others-->
<!--@+node:celine.20110401213457.6117: *3* head-->
<head>
    <title>All On Board</title>
    <!--@+others-->
    <!--@+node:celine.20110401213457.6138: *4* JS-->
    <!--@+others-->
    <!--@+node:celine.20110401213457.6139: *5* dojo-->
    <script src="http://yandex.st/dojo/1.6.0/dojo/dojo.xd.js" type="text/javascript"></script>
    <!--@+node:celine.20110401213457.6140: *5* AOB client/server-->
    <script src="/js/cookies.js"></script>
    <script src="/js/around_aob.js"></script>
    <!--@-others-->
    <!--@-others-->
    {% block extra_head %}{% endblock %}
</head>
<!--@+node:celine.20110401213457.6118: *3* body-->
<body>
    {% block content %}
    {% endblock %}
</body>
<!--@-others-->
</html>
<!--@-others-->
<!--@-leo-->
