<!--@+leo-ver=5-thin-->
<!--@+node:celine.20110401213457.6119: * @file game.html-->
<!--@@language xml-->
<!--@@tabwidth -4-->
<!--@+<< extends >>-->
<!--@+node:celine.20110401213457.6136: ** << extends >>-->
{% extends "base.html" %}
<!--@-<< extends >>-->
{% block extra_head %}
<!--@+<< head >>-->
<!--@+node:celine.20110401213457.6137: ** << head >>-->
<!--@-<< head >>-->
{% endblock %}
{% block content %}
<!--@+<< content >>-->
<!--@+node:celine.20110401213457.6120: ** << content >>-->
        <center>
            <h1>All On Board - 1.0</h1>
            <a href="/aob/current/iframe.html" target="_blank">Ouvrir</a>
            <!-- Begin Game Embed Code -->
            <iframe src="/aob/current/iframe.html" style="width:1024px; height:792px; margin:0; padding:0;" frameborder="0" scrolling="no"></iframe>
            <!-- End Game Embed Code -->

            <p align="center" style="margin-top:40px;">By using this software, you agree to the terms and conditions in the <a href="http://www.effectgames.com/effect/#Article/Standalone_Publish_Agreement" target="_blank">Standalone Publish License Agreement</a>.<br/>
            Effect Engine Copyright &copy; 2011 Effect Games LLC</p>
        </center>
<!--@-<< content >>-->
{% endblock %}
<!--@-leo-->
