<!--@+leo-ver=5-thin-->
<!--@+node:celine.20110403213834.1528: * @file mygames.html-->
<!--@@language xml-->
<!--@@tabwidth -4-->
<!--@+<< extends >>-->
<!--@+node:celine.20110403213834.1529: ** << extends >>-->
{% extends "base.html" %}
<!--@-<< extends >>-->
{% block content %}
<!--@+<< content >>-->
<!--@+node:celine.20110403213834.1530: ** << content >>-->
<table>
    <thead>
        <!--@+<< thead >>-->
        <!--@+node:celine.20110403213834.1531: *3* << thead >>-->
        <tr>
            <th>Game</th>
            <td>Status</td>
            <td>&nbsp;</td>
        </tr>
        <!--@-<< thead >>-->
    </thead>
    <tbody>
        <!--@+<< tbody >>-->
        <!--@+node:celine.20110403213834.1532: *3* << tbody >>-->
        {% for p in me.participation_set %}
            <tr>
                <th>{{ p.game.name }}</th>
                <td>{{ p.status }}</td>
                <td><a href="#" onclick="return joinGame('{{ p.game.key }}');">Rejoindre</a></td>
            </tr>
        {% endfor %}
        <!--@-<< tbody >>-->
    </tbody>
</table>
<!--@-<< content >>-->
{% endblock %}
<!--@-leo-->
