<!--@+leo-ver=5-thin-->
<!--@+node:celine.20110401213457.6125: * @file players.html-->
<!--@@language xml-->
<!--@@tabwidth -4-->
<!--@+<< extends >>-->
<!--@+node:celine.20110401213457.6132: ** << extends >>-->
{% extends "base.html" %}
<!--@-<< extends >>-->
{% block content %}
<!--@+<< content >>-->
<!--@+node:celine.20110401213457.6127: ** << content >>-->
<table>
    <thead>
        <!--@+<< thead >>-->
        <!--@+node:celine.20110401213457.6128: *3* << thead >>-->
        <tr>
            <th>Nickname</th>
            <td>Compte google ou OpenId</td>
            <td>Enregistré</td>
            <td>Date de création</td>
            <td>Dernière utilisation</td>
            <td>Parties</td>
        </tr>
        <!--@-<< thead >>-->
    </thead>
    <tbody>
        <!--@+<< tbody >>-->
        <!--@+node:celine.20110401213457.6129: *3* << tbody >>-->
        {% for p in players %}
            <tr>
                <th>{{ p.nickname }}</th>
                <td>{{ p.user|default:"" }}</td>
                <td>{{ p.registered }}</td>
                <td>{{ p.creation }}</td>
                <td>{{ p.last_use }}</td>
                <td class="participations">
                    <!--@+<< participations >>-->
                    <!--@+node:celine.20110403213834.1505: *4* << participations >>-->
                    <table>
                        <thead>
                            <tr>
                                <th>Game</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for part in p.participation_set %}
                                <tr>
                                    <td>{{ part.game.name }}</td>
                                    <td>{{ part.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--@-<< participations >>-->
                </td>
            </tr>
        {% endfor %}
        <!--@-<< tbody >>-->
    </tbody>
</table>
<!--@-<< content >>-->
{% endblock %}
<!--@-leo-->
